######################################################################## Local  Connections
{{ "local   %-5s    %-12s       %-10s" | format('all', 'postgres','peer')}}
{% for user in users %}
{{ "local   %-5s    %-12s       %-10s" | format('all', user.name,'peer')}}
{% endfor %}
{{ "local   %-5s    %-12s       %-10s" | format('all','all','reject')}}

######################################################################## ipv4  Connections  
{% if postgres_passwd is defined %}
{{ "host   %-5s    %-12s  %17s/32      %-10s" | format('all', 'postgres', '127.0.0.1', 'md5') }}
{% else %}
{{ "host   %-5s    %-12s  %17s/32      %-10s" | format('all', 'postgres', '127.0.0.1', 'trust') }}
{% endif %}
{% for user in users %}
{% for ip in ansible_all_ipv4_addresses %}
{% if postgres_passwd is defined %}
{{ "host   %-5s    %-12s  %17s/24      %-10s" | format('all', user.name, ip, 'md5') }}
{% else %}
#{{ "host   %-5s    %-12s  %17s/24      %-10s" | format('all', user.name, ip, 'trust') }}
{% endif %}
{% endfor %}
{% endfor %}
######################################################################## ipv6  Connections  
{% if postgres_passwd is defined %}
{{ "host   %-5s    %-12s  %17s/128      %-10s" | format('all', 'postgres', '::1', 'md5') }}
{% else %}
{{ "host   %-5s    %-12s  %16s/128      %-10s" | format('all', 'postgres', '::1', 'trust') }}
{% endif %}
####################################################################### Replication  Connections
{% if postgres_passwd is defined  %}
{% for ip in ansible_all_ipv4_addresses %}
{{ " host   %-5s    %-12s  %17s/24      %-10s" | format('replication', 'replication', ip, 'md5') }}
{% endfor %}
{% else %}
{% for ip in ansible_all_ipv4_addresses %}
{{ "#host   %-5s    %-12s  %17s/24      %-10s" | format('replication', 'replication', ip, 'trust') }}
{% endfor %}
{% endif %}
{{ "#host   %-5s    %-12s  %17s/24      %-10s" | format('replication', 'all', '::1/128', 'trust') }}
